<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>12:00PM</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> and <a href="https://tufts-carpentries.github.io/2023-10-24-tufts-online#setup">Setup</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>01:00PM</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/index.html">Unix Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>02:30PM</td>        <!-- time    -->
        <td>10 Minute Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>04:00PM</td>        <!-- time    -->
        <td>End Day 1</td>        <!-- content -->
      </tr>      
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>12:00PM</td>        <!-- time    -->
        <td><a href="https://tufts-carpentries.github.io/2023-10-24-tufts-online#setup">Setup</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>01:00PM</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/git-novice/">Version Control with Git</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>02:30PM</td>        <!-- time    -->
        <td>10 Minute Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>04:00PM</td>        <!-- time    -->
        <td>End Day 2</td>        <!-- content -->
      </tr>       
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>12:00PM</td>        <!-- time    -->
        <td><a href="https://tufts-carpentries.github.io/2023-10-24-tufts-online#setup">Setup</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>01:00PM</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>02:30PM</td>        <!-- time    -->
        <td>10 Minute Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>04:00PM</td>        <!-- time    -->
        <td>End Day 3</td>        <!-- content -->
      </tr>        
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>12:00PM</td>        <!-- time    -->
        <td><a href="https://tufts-carpentries.github.io/2023-10-24-tufts-online#setup">Setup</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>01:00PM</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python (cont'd)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>02:30PM</td>        <!-- time    -->
        <td>10 Minute Break</td>        <!-- content -->
      </tr>      
      <tr>               <!-- row 4   -->
        <td>04:00PM</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
